*{
    font-family: Open Sans,sans-serif;
}
html{
    height: 100%;
}
body{
margin:  0px;
padding: 0px;
overflow-y: scroll;
height: 100%;
position: relative;
height: auto;
min-height: 100%;
}

/* footer */
.footer{
    border-top: 1px solid #eeeeee;
    text-align: center;
    height: 36px;
    background-color: #f7f7f7;
    color: #222222;
    font-size: 14px;
    padding: 8px;
    position: absolute;
    width: 100%;
    bottom:0;
}
.footer p{
    margin: 0px;
}
/* mobile footer */
.mobile-footer{
    background-color: #1a5072;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 0px;
    display: none;
}
.mobile-footer p{
    margin: 0px;
}
.footer-icon{
    color: #FFFFFF;
}
/*Top information bar*/
.top{
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.08);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.top-info{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    height: 36px;
    padding: 0 156px;
    color: #878787;
    width: 100%;
}
hr{
    margin: 0px;
    border: 0.5px solid #E0E0E0;
}
.left,.right{
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.top-info ul{
    display: flex;
    list-style-type: none;
}
.left li{
    margin: auto 14px;
}
.right ul{
    display: flex;
    margin-left: 9px;
    padding: 0px;
    list-style-type: none;
}
.right ul li{
    margin: auto 9px;
}

/*Nav bar*/

.top-nav{
    width: 100%;
    padding: 0px 156px;
    box-sizing: border-box;
}
.logo{
    box-sizing: border-box;
    float: left;
}
.mobile-top-nav{
    display: none;
}

nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    list-style-type: none;
}

nav ul li a{
    display: block;
    padding: 24px 14px;
    text-decoration: none;
    color: #878787;
}
nav ul li a:hover{
    text-decoration: none;
    color: #222222;
    transition: 0.2s;
}
nav ul li:hover{
    background-color: #f7f7f7;
    color: #222222;
    text-decoration: none;
    transition: 0.2s;
}
nav ul li .dropdown{
    display: block;
}
#s01,#l01{
    color: #878787;
}
#s01:hover,#l01:hover{
    color: #222222;
    transition: 0.2s;
    cursor: default; 
}
.clearfix{
    clear: both;
}
.dropdown a:hover{
    color: #222222;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 274px;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.08);
    z-index: 1;
  }


.dropdown-content a {
    color: #222222;
    padding: 16px 24px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}



.dropdown:hover{
    background-color: #f7f7f7;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover {background-color: #f7f7f7;}

.ham{
    font-size: 32px;
    line-height: 64px;
    margin: 0px;
    display: none;
}
.ham:hover{
    cursor: pointer;
}

/*INTRO*/
.intro{
    background: url("../images/welcomebg.png");
    background-size: cover;
    margin-top: 108px;
    height: 440px;
    padding-left: 156px;
}
.intro-text{
    padding-top: 108px;
}
.intro-heading{
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 54px;
}
.intro-content{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #878787;
    width: 40%;
}

/*main body */
.main-body{
    padding-left: 156px;
    padding-right: 164px;
    padding-top: 80px;
    padding-bottom: 120px;
    background: #FAFBFC;
box-shadow: 0px -1px 20px rgba(34, 34, 34, 0.05);
}
.heading{
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
margin-bottom: 24px;
color: #222222;
}
.col-md-6 ul li{
    margin: 8px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #222222;
}

.contact{
    color: #222222;
    margin-bottom: 8px;
}

/* footer */
footer{
    background-color: #CED8DF; 
    color: #222222; 
    text-align: center;
    padding: 8px 0;
}
footer p{
    margin: 0px;
}

/* news ticker vertical on main page */
.holder { 
    height:250px;
    overflow:hidden;
    margin: 0px;
    width: 100%;
  }
  .holder .mask {
    position: relative;
    left: 0px;
    height:250px;
    overflow: hidden;
  }
  .holder ul {
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
  }
  .holder ul li {
    padding:5px 0px;
  }
  .holder ul li a {
    text-decoration:none;
  }
/* team page */
.team-page{
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 64px;
    margin-top: 140px;
    height: 100%;
}
.team-about{
    margin-bottom: 32px;
    font-size: 16px;
    color: #222222;
}

.team-name{
    font-size: 18px;
    color: #222222;
    font-weight: bold;
    margin: 0px;
}
.degree{
    color: #222222;
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 400;
}
.member-about{
    font-size: 16px;
    color: #222222;
    margin: 16px 0px;
}
.team-contact{
    color: #222222;
    font-size: 14px;
}
.member-about li{
    margin: 6px 0px;
}


/* Query page */


.query-body{
    padding: 64px 256px;
    margin-top: 108px;
height: 100%;
}
form{
    background-color: #f7f7f7;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 32px 16px;

}
form input{
    width: 80%;
}
form textarea{
    width: 80%;
}
form label{
    width: 100%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}
form .row{
    padding: 8px 0px;
}


/* Career Page */

.career-page{
    padding: 64px 256px;
    margin-top: 108px;
    height: 100%;
}
.career label{
    text-align: left;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
}
.career-page form textarea{
    width: 100%;
}
.career{
    background-color: #f7f7f7;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 52px 116px;
}
.career .col-lg-6{
    padding: 12px 12px;
}
.career input{
    width: 100%;
}

/* Services */
.service-body{
    padding: 64px 164px 64px 164px;
    padding-top: 172px;
    height: 100%;
}
.service-list li{
    margin: 6px 0px;
}

/* message */
.alert-success{
    font-size: 18px;
    margin: 20px auto 0 auto;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    width: max-content;
    padding: 6px 16px;
    border-radius: 4px;
}
/*contact us */
.office-type{
    margin-bottom: 0px; 
    font-size: 18px;
    font-weight: 600;
    color: #1A5271;
}
.qrcode{
    height: 124px;
    width: 124px;
}
.contact-body{
    padding: 64px 156px;
    padding-top: 172px;
}
.mobile-direction{
    display: none;
}
/* media queries */
@media (max-width: 1350px){
    .top-info{
        padding: 0 48px;
        width: 100%;
    } 
    .top-nav{
        width: 100%;
        padding: 0px 48px;
        box-sizing: border-box;
    } 
    .intro{
        background-size: cover;
        padding-left: 48px;
        /*padding-top: 172px;*/
    }
    .main-body{
        padding-left: 48px;
        padding-right: 64px;
    }
    .team-page{
        padding: 64px 64px 64px 64px;
        /*padding-top: 172px;*/
    }
    .service-body{
        padding: 64px 64px;
        padding-top: 172px;
    }
    .contact-body{
        padding: 64px 64px;
        padding-top: 172px;
    }
    .career-page{
        padding: 64px 64px;
        padding-top: 172px;
    }
    .career{
        padding: 32px 64px;
    }
    .query-body{
        padding: 64px 64px;
        padding-top: 172px;
    }

}
@media (max-width: 1220px){
    .top-info{
        padding: 0 48px;
        width: 100%;
    } 
    .top-nav{
        width: 100%;
        padding: 0px 48px;
        box-sizing: border-box;
    } 
    .intro{
        background-size: 100% 100%;
        padding-left: 48px;
        /*padding-top: 152px;*/
    }
    .main-body{
        padding-left: 48px;
        padding-right: 64px;
    }
    .team-page{
        padding: 64px 64px 64px 64px;
        /*padding-top: 152px;*/
    }
    .service-body{
        padding: 64px 64px;
        padding-top: 152px;
    }
    .contact-body{
        padding: 64px 64px;
        padding-top: 152px;
    }
    .career-page{
        padding: 64px 64px;
        padding-top: 152px;
    }
    .query-body{
        padding: 64px 64px;
        padding-top: 152px;
    }
}
@media (max-width: 1125px){
    .top-info{
        padding: 0 36px;
        width: 100%;
    } 
    .top-nav{
        width: 100%;
        padding: 0px 36px;
        box-sizing: border-box;}
    .menu-toggle{
        display: block;
        width: 36px;
        height: 36px;
        float: right;
        margin: 18px 12px;
        cursor: pointer;
        text-align: center;
        font-size: 32px;
        color: #878787;

    }
    .menu-toggle:before{
        content: url('../images/ham.svg');
    }
    .menu-toggle.active:before{
        content: url('../images/clear.svg');
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        width: 100%;
        padding: 0px;
        justify-content: space-around;
        }
    nav.active ul li{
        width: max-content;
    }
}
.dropdown-content-mobile{
    text-align: left;
    background-color: #ffffff;
    display: none;
}
.dropdown-content-mobile a{
    padding: 12px 36px;
    color: #222222;
}

@media screen and (max-width: 700px){
    html{
        overflow-x: hidden;
    }
    .footer{
        display: none;
    }
    /* navbar's css */
    .top{
        display: none;
    }
    .mobile-top-nav{
        display: block;
        padding: 12px 16px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.08);
    }
    .menu-toggle-mobile{
        display: block;
        width: 36px;
        height: 36px;
        float: right;
        cursor: pointer;
        text-align: right;
        font-size: 32px;
        color: #878787;
    }
    .menu-toggle-mobile:before{
        content: url('../images/ham.svg');
    }
    .menu-toggle-mobile.active:before{
        content: url('../images/clear.svg');
    }
    .mobile-top-nav ul{
        display: block;
        z-index: 1;
    }
    
    nav.active ul{
        transition: all 0.2s ease-in-out;
        display: block;
        width: 100%;
        padding: 8px 12px;
        position: absolute;
        background-color: #ffffff;
        left: 0px;
    }
    nav.active ul li{
        display: block;
        width: 100%;
    }
    nav.active ul li button{
        border: none;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 500;
        color: #222222;
        outline: none;
        border-bottom: 1px solid #c4c4c4;
    }
    nav.active ul li .navbtn{
        border: none;
        background-color: #ffffff;
        width: 100%;
        text-align: left;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 500;
        color: #222222;
        outline: none;
        border-bottom: 1px solid #c4c4c4;
    }
    
    nav.active ul li a:hover{
        background-color: #ffffff;
    }
    .clearfix{
        clear: both;
    }
    
    /* homepage */
    .intro{
        padding: 0px 16px;
        background-image: url('../images/mobile-intro-cover.png');
        background-position: bottom;
        background-size: cover;
        margin-top: 0px;
        height: 172px;
    }
    .intro-heading{
        font-size: 22px;
    }
    .intro-content{
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }
    .main-body{
        padding: 36px 16px;
        margin-top: 96px;
    }
    .heading{
        font-size: 18px;
    }
    .col-md-6 ul{
        padding-left: 16px;
        margin-bottom: 0px;
    }
    .col-md-6 ul li{
    margin: 4px;
    font-size: 14px;
    line-height: 26px;
    }
    .whats-new{
        margin: 52px 0px;
    }
    .mobile-footer{
        display: block;
    }
    .team-page{
        padding: 36px 16px;
        margin-top: 0px;
    }
    .team-about{
        font-size: 14px;
    }
    .team-page .col-lg-2 ,.col-lg-4{
        text-align: center;
        padding: 12px !important; 
    } 
    .member-about{
        font-size: 14px;
    }
    .service-body{
        margin: 0px;
        padding: 36px 16px 176px 16px;
    }
    .service-list{
        padding-left: 16px;
    }
    .service-list ul{
        padding-left: 16px;
    }
    #view-list {
        padding-left: 0px;
    }
    .service-body ul li{
        padding-left: 0px;
        margin-bottom: 4px;
    }
    .service-list{
        font-size: 14px;
    }
    .career-page{
        padding: 72px 16px;
        margin-top: 0px;
    }
    .career{
        padding: 16px;
        margin-top: 24px;
    }
    .career-page form textarea{
        width: 100%;
    }
    .career .row{
        padding: 0px;
    }
    .query-body{
        padding: 72px 16px;
        margin-top: 0px;    }
        .query-body form{
            padding: 16px;
        }
    .query-body form input{
        width: 100%;
    }
    .query-body form label{
        text-align: left;
        font-size: 13px;
    }
    .query-body form textarea{
        width: 100%;
    }
    .query-body .row{
        padding: 8px 0px;
    }

    .contact-body{
        margin-top: 0;
        padding: 64px 16px;
    }
    .qrcode1{
        display: none;
    }
    .contact-us{
        padding: 18px 16px;
        text-align: left;
    }
    .contact-us .col-sm-8{
        text-align: left;
    }
    .mobile-direction{
        display: block;
    }
    .alert-success{
        font-size: 14px;
        margin-top: 8px;
        width: 80%;
    }
    
}