{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
        <p class="heading" style="margin-bottom: 12px;">Accountacy and Allied Services</p>
  <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
    
  <p>We provide the following services:</p> 
    <ul class="service-list">
        <li>Maintenance of books of account</li> 
        <li>Checking of transaction support documents        </li> 
        <li>Asset Accounting Management.        </li> 
        <li>Preparation of Management Accounts and Statutory Accounts.        </li> 
        <li>Accounts payable and vendor management</li> 
        <li>Accounts receivable and collection management        </li> 
        <li>Reconciliations        </li> 
        <li>Inventory management        </li>
        <li>Specific assignment-based work        </li>
        <li>Provision of temporary resources / loan staff        </li>
        <li>Budgeting.        </li>
        <li>Financial Reporting.        </li>
        <li>MIS Reports.        </li>
        <li>Financial Analysis.        </li>
        <li>Development of accounting systems and procedures        </li>
        <li>Periodic review of accounts and compliances        </li>
        <li>Advice on accounting matters        </li>
        <li>Management reporting        </li>
        <li>Financial Accounting.        </li>
        <li>Depreciation and Amortization Schedules.</li>
    </ul>
</div>
{% endblock %}