{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
        <p class="heading" style="margin-bottom: 12px;">Audit and Assurance </p>
  <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
    
  <p>We provide the following services:</p> 
    <ul class="service-list">
        <li>Statutory Bank Audits</li>  
        <li>Stock &amp; Debtors Audit of BANKS</li> 
        <li>Concurrent Audits.</li> 
        <li>Revenue Audit of Banks.</li> 
        <li> Statutory Audits under Companies Act and LLP Act</li>
        <li> Tax Audit under Income Tax Act</li>
        <li> Internal Audit/Management Audit</li>
        <li> Stock Audit</li>
        <li> Special Audit</li>
        <li> Other Certification Work</li>
    </ul>
</div>
{% endblock %}