{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
        <p class="heading" style="margin-bottom: 12px;">Corporate Services</p>
  <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
    
  <p>We provide the following services:</p> 
    <ul class="service-list">
    <li> Incorporation of company and LLP.</li> 
    <li> Filing of annual returns and various forms, documents</li>
    <li> Consultancy on Company Law and LLP Law matters.</li>
    <li> Maintenance of Statutory records.</li>
    <li> Planning for Mergers, Acquisitions, De-mergers, and Corporate re-organizations</li>
    </ul>
</div>
{% endblock %}