{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
        <p class="heading" style="margin-bottom: 12px;">Financial Services</p>
  <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
    
  <p>We provide the following services:</p> 
    <ul class="service-list">
     <li>   We offer services for arranging finance for businesses to meet its various objects &
needs for running the business. Our range of services cover debt funding, Project
Financing through banks and other financial institutions etc.</li>
<li> Business Feasibility Services</li>
<li>Business Planning Services</li> 
<li> Structured Finance Consultancy</li>
<li> Individual Financial Planning</li>
<li> Business Succession Planning Services</li>
<li> Due Diligence Review</li>
    </ul>
</div>
{% endblock %}