{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
        <p class="heading" style="margin-bottom: 12px;">Accounting Outsourcing</p>
  <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
    
  <p>We provide the following services:</p> 
    <ul class="service-list">
        <li>Book Keeping and Bank Reconciliation Services</li> 
        <li>Preparation of Periodic Financial Statements and Analysis of Profit &amp; Loss Account</li> 
        <li>Implementation of Internal Controls.</li> 
        <li>Monthly Management reporting ( MIS )</li> 
        <li>Formulating accounting systems and procedures</li> 
        <li>Preparation of Financial &amp; Accounting Manuals</li> 
        <li>Off-site Backup of Data</li> 
    </ul>
    <br>
    <p class="heading" style="margin-bottom: 12px;">Payroll Outsourcing</p>
    <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
      
    <p>We provide the following services:</p> 
      <ul class="service-list">
          <li>        Preparation of Monthly Payroll        </li> 
          <li>Calculation of Individual Tax Liability of each Employee</li> 
          <li>Calculation and Deduction of Provident Fund (PF) &amp; Employee State Insurance (ESI)</li> 
          <li>Preparation and Filing of Provident Fund (PF) &amp; Employee State Insurance (ESI)Returns</li> 
          <li>Preparation of statutory records prescribed under Provident Fund (PF) &amp; Employee
              State Insurance (ESI) Acts</li> 
          <li>Filing of Quarterly eTDS returns for salaries</li> 
          <li>Preparation of Form 16 for employees</li> 
      </ul>

</div>
{% endblock %}