{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
        <p class="heading" style="margin-bottom: 12px;">Support Services</p>
  <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
    
  <p>We offer support services in the areas of:</p> 
    <ul class="service-list">
<li>       Checking Account Reconciliation</li>
<li> Accounts Receivable/Payable Reconciliations</li>
<li> Capital Planning And Investment Management</li>
<li> Fixed Assets Management/ Verification</li>
<li> Physical Stock Verification</li>
<li> Recruitment of Finance and Account Professional</li>
<li> Secretarial Records</li>
    </ul>
</div>
{% endblock %}