{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
        <p class="heading" style="margin-bottom: 12px;">Direct and Indirect Tax Advisory</p>
  <!--<hr style="margin-bottom: 18px; width: 30%;">-->  
    
  <p>Services provided in this area includes:</p> 
    <ul class="service-list">
     <li>  Filing of returns under Income Tax and Goods &amp; Service Tax (GST) of Corporates &
Non corporate.</li> 
<li> Assessments under Income Tax,</li>
<li> Day to day tax planning and consultancy on Income tax & GST</li>
<li> Opinions on the various Double Tax Avoidance Agreement related issues</li>
<li> Obtaining LOWER DEDUCTION / Non Deduction Certificates from Income tax
department.</li>
<li> Providing regular updates on amendments, circulars, notifications &amp; judgments on
Income Tax & GST</li>
<li> Liaison with Income tax department for rectification, assessment, obtaining refunds etc.</li>
<li> Provide administrative assistance on obtaining Permanent Account Numbers for
assesses </li>
<li> Registration under various act (i.e. Income Tax and Goods and Service Tax)</li>
    </ul>
</div>
{% endblock %}