{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="career-page">
    <p class="heading" style="text-align: center;"> Apply Here </p>
    <p style="text-align: center;">We nurture and cultivate a sense pride in the work and create team leaders. 
        Your growth chart will be governed by well-defined transparent policies of the firm. 
        Apply via the form given below and meet us for face to face interview.</p>
    <form class="career" method="POST" id="career-form">
        {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 col-sm">
            <label for="fname">First Name<span style="color: red;">*</span></label><br>
            <input type="text" name="fname" id="fname" required>
        </div>
        <div class="col-lg-6 col-md">
            <label for="lname">Last Name</label><br>
            <input type="text" name="lname" id="lname">
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md">
            <label for="email">Email ID<span style="color: red;">*</span></label><br>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="col-lg-6 col-md">
            <label for="mob">Mobile Number<span style="color: red;">*</span></label><br>
            <input type="text" name="mob" id="mob" placeholder="(10 digits)" required>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md">
            <label for="gender">Gender<span style="color: red;">*</span></label><br>
            <select id="genderlist" name="gender" style="width: 100%; padding: 2px;" required>
                <option value="none">--Select--</option>
                <option value="female">Female</option>
                <option value="mail">Male</option>
                <option value="other">Other</option>  
            </select>
        </div>
        <div class="col-lg-6 col-md">
            <label for="pos">Position Applying For</label><br>
            <input type="text" name="pos" id="pos">
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6 col-md">
            <label for="dob">Date of Birth<span style="color: red;">*</span></label><br>
            <input type="date" name="dob" id="dob" required>
        </div>
        <div class="col-lg-6 col-md">
            <label for="hq">Highest Qualification</label><br>
            <input type="text" name="hq" id="hq">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md">
            <label for="website">Portfolio Website</label><br>
            <input type="text" name="website" id="website" value="http://">
        </div>
        <div class="col-lg-6 col-md">
            <label for="resume">Upload Resume Link<span style="color: red;">*</span></label><br>
            <input type="text" name="resume" id="resume" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md">
            <label for="comp">Last company you worked for</label><br>
            <input type="text" name="comp" id="comp">
        </div>
        <div class="col-lg-6 col-md">
            <label for="exp">Years of Experience</label><br>
            <select id="exp" name="years" style="width: 100%; padding: 2px;">
                <option value="none">--Select--</option>
                <option value="1+">1+</option>
                <option value="2+">2+</option>
                <option value="3+">3+</option> 
                <option value="4+">4+</option> 
            </select>
            
        </div>

    </div>
    <div class="row" style="padding: 12px;">
        <label for="comments">Reference/Comments/Questions</label><br>
        <textarea name="comments" id="comments" cols="120" rows="4"></textarea>

    </div>
    <div class="row" style="margin-top: 24px;">
        <button class="btn btn-primary" style="font-family: Open Sans; margin: auto;" id="form-button">Send Application</button>
    </div>
</form>
</div>
{% endblock %}