{% extends 'webapp/base_without_top.html' %}
{% load static %}
{% block content %}
<div class="contact-body">
<p class="heading">Contact Us</p>
<p>You can reach out to our Head Office at Zakirpur,Punjab and Branch Office at Delhi.The contact details are given below.</p>

<div class="contact-us row">
    <div class="col-lg-2 col-sm-4 qrcode1" style="text-align: center;">
        <img src="{% static 'webapp/images/qrcode-delhi.png' %}" class="qrcode" alt="">
        <p style="margin: 0px;">or</p>
        <p style="font-size: 14px;"><a target="_blank" href="https://www.google.com/maps/dir//S+G+P+G+%26+ASSOCIATES,+CHARTERED+ACCOUNTANTS,+B-2%2F38,+Sector+15,+Pocket+2,+Sector+15B,+Rohini,+New+Delhi,+Delhi+110089/@28.7312916,77.1299591,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x390d01f6cbe60537:0xf74ef62d907ce416!2m2!1d77.1321478!2d28.7312916">Click here</a></p>
    
    </div>
    <div class="col-lg-4 col-sm-8" style="padding-left: 0px; padding-top: 16px;">
        <p class="office-type">BRANCH OFFICE</p>
        <hr style="margin: 4px 0;">
        <p>B-2/38, Ist Floor, Sector-15 <br>
            Rohini, Delhi-110089</p>
            <p style="font-size: 14px;" class="mobile-direction"><a target="_blank" href="https://www.google.com/maps/dir/30.6563416,76.8496469/Gupta+%26+Associates+-+Tax+Consultants,+%23204,+N.A.C,+Ms+Enclave,+Dhakoli,+Zirakpur,+Punjab+160104/@30.6562189,76.8474566,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x390f95b163e382d3:0x4df8c46f786ce146!2m2!1d76.8496264!2d30.6560963">Click here to get direction</a></p>
        <p style="margin-bottom: 0px; font-size: 14px;"><img style="padding-right: 4px;" src="{% static 'webapp/images/mail.svg' %}" alt="">{{info.email_3}}</p>
        <p style="margin-bottom: 0px; font-size: 14px;"><img style="padding-right: 4px;" src="{% static 'webapp/images/phone.svg' %}" alt="">{{info.phone}}</p>

    </div>
</div>

<div class="contact-us row">
    <div class="col-lg-2 col-sm-4 qrcode1" style="text-align: center;">
        <img src="{% static 'webapp/images/qrcode-punjab.png' %}" class="qrcode" alt="">
        <p style="margin: 0px;">or</p>
        <p style="font-size: 14px;"><a target="_blank" href="https://www.google.com/maps/dir/30.6563416,76.8496469/Gupta+%26+Associates+-+Tax+Consultants,+%23204,+N.A.C,+Ms+Enclave,+Dhakoli,+Zirakpur,+Punjab+160104/@30.6562189,76.8474566,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x390f95b163e382d3:0x4df8c46f786ce146!2m2!1d76.8496264!2d30.6560963">Click here</a></p>
    
    </div>
    <div class="col-lg-4 col-sm-8" style="padding-left: 0px; padding-top: 16px;">
        <p class="office-type">HEAD OFFICE</p>
        <hr style="margin: 4px 0;">
        <p>Number 204, N.A.C, Ms Enclave, <br> Dhakoli, Zirakpur, Punjab 160104</p>
        <p style="font-size: 14px;" class="mobile-direction"><a target="_blank" href="https://www.google.com/maps/dir/30.6563416,76.8496469/Gupta+%26+Associates+-+Tax+Consultants,+%23204,+N.A.C,+Ms+Enclave,+Dhakoli,+Zirakpur,+Punjab+160104/@30.6562189,76.8474566,17z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x390f95b163e382d3:0x4df8c46f786ce146!2m2!1d76.8496264!2d30.6560963">Click here to get direction</a></p>
        <p style="margin-bottom: 0px; font-size: 14px;"><img style="padding-right: 4px;" src="{% static 'webapp/images/mail.svg' %}" alt="">{{info.email_3}}</p>
        <p style="margin-bottom: 0px; font-size: 14px;"><img style="padding-right: 4px;" src="{% static 'webapp/images/phone.svg' %}" alt="">{{info.phone}}</p>
    </div>
    </div>

</div>
{% endblock %}