{% extends "webapp/base.html" %}
{% load static %}
{% block content %}

<div class="service-body">
    <p class="heading">Rules</p>
    <p>Link to various Rules has been provided below:</p>
    <ul class="service-list" style="list-style-type:none">
        <li style="font-weight: 600;">Direct Tax :</li>
        <ul class="service-list" style="list-style-type: none;">
            <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.incometaxindia.gov.in/pages/rules/income-tax-rules-1962.aspx">Income Tax Rules</a> </li>
        </ul>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="http://www.cbic.gov.in/htdocs-cbec/customs/cs-act/formatted-htmls/cs-rules-idx">Custom Rules</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="http://www.cbic.gov.in/htdocs-cbec/excise/cxrules/cx-rules-main">Central Excise Rules</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="http://cbic.gov.in/htdocs-cbec/gst/index">GST</a> </li>
        <li style="font-weight: 600;">VAT Rules for :</li>
        <ul class="service-list" style="list-style-type: none;">
            <li><img src="{% static 'webapp/images/link-icon.svg' %}" alt="">  <a target="_blank" href="https://dvat.gov.in/website/home.html">Delhi</a> </li>
            <li><img src="{% static 'webapp/images/link-icon.svg' %}" alt="">  <a target="_blank" href="https://pextax.com/PEXWAR/appmanager/pexportal/PunjabExcise">Punjab</a> </li>
            <li><img src="{% static 'webapp/images/link-icon.svg' %}" alt="">  <a target="_blank" href="https://haryanatax.gov.in/HEX/appmanager/HexPortal/HaryanaExcise">Haryana</a> </li>
        </ul>
        <li><img src="{% static 'webapp/images/link-icon.svg' %}" alt="">  <a target="_blank" href="http://mca.gov.in/MinistryV2/companiesact2013.html">Companies Act</a></li>
        <li><img src="{% static 'webapp/images/link-icon.svg' %}" alt="">  <a target="_blank" href="http://mca.gov.in/MinistryV2/llpact.html">LLP Act</a> </li>
    </ul>
</div>
{% endblock %}