{% extends "webapp/base.html" %}
{% load static %}
{% block content %}

<div class="service-body">
    <p class="heading">Important Links</p>
    <ul class="service-list">
        <li style="font-weight: 600;">Professional Institutions/Bodies :</li>
        <ul style="list-style-type: none;">
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.icai.org/">Institute of Chartered Accountants of India  (ICAI)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.icsi.edu/home/">Institute of Company Secretaries of India</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://icmai.in/icmai/">Institute of Cost Accountants of India</a> </li>
        </ul>
        <li style="font-weight: 600;">Indian Ministries, Government Departments & Other Statutory Bodies :</li>
        <ul style="list-style-type: none;">
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.finmin.nic.in/">Ministry of Finance</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://incometaxindia.gov.in/Pages/default.aspx">Central Board of Direct Taxes</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="http://www.mca.gov.in/MinistryV2/homepage.html/">Department of Company Affairs(MCA21)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="http://www.cbic.gov.in/">Central Board of Excise & Custom</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.rbi.org.in/">Reserve Bank of India (RBI)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.sebi.gov.in/">Securities & Exchange Board of India (SEBI)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.nseindia.com/">National Stock Exchange (NSE)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.bseindia.com/">Bombay Stock Exchange (BSE)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://cag.gov.in/">Comptroller & Auditor General of India</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://main.sci.gov.in/">Supreme Court of India</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.esic.nic.in/">Employees State Insurance Corporation</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://epfindia.gov.in/site_en/index.php">Employee Provident Fund</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://shramsuvidha.gov.in/">Shram Suvidha - Unified Portal for Labour and Employment</a> </li>



        </ul>
        
    </ul>
</div>
{% endblock %}