{% extends "webapp/base.html" %}
{% load static %}
{% block content %}

<div class="service-body">
    <p class="heading">Income Tax Links</p>
    <ul class="service-list" style="list-style-type: none;">
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.incometaxindiaefiling.gov.in/home">Income Tax Return File</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">E Payment -Pay Taxes For Income Tax & TDS</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://tin.tin.nsdl.com/oltas/index.html">Challan Status Enquiry</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://tin.tin.nsdl.com/oltas/refundstatuslogin.html">Status Of Refund</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.tin-nsdl.com/forms/tds-linktoUnAuthorizedInput.html">Status Of Quarterly TDS Return</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/ITRStatusLink.html?lang=eng">ITR-V Receipt Status</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/KnowYourJurisdictionLink.html?lang=eng">Know Your AO</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/KnowYourTanLink.html?lang=eng">Know Your TAN</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/VerifyYourPanDeatils.html?lang=eng">Know Your PAN</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.onlineservices.nsdl.com/paam/endUserRegisterContact.html">Online New PAN Application/ Correction of PAN</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.tdscpc.gov.in/app/login.xhtml">TAN Login</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://tin.tin.nsdl.com/tan/form49B.html">Online TAN Application</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://tin.tin.nsdl.com/tan/ChangeRequest.html">Online TAN Correction</a> </li>

    </ul>
</div>
{% endblock %}