{% extends "webapp/base.html" %}
{% load static %}
{% block content %}
<div class="service-body">
    <p class="heading">Ministry of Corporate Affairs Links:</p>
    <ul class="service-list" style="list-style-type: none;">
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="http://www.mca.gov.in/mcafoportal/viewCompanyMasterData.do">Verify Co. Master Data</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">Find CIN</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://tin.tin.nsdl.com/oltas/index.html">Check Co./LLP Name</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://tin.tin.nsdl.com/oltas/refundstatuslogin.html">View Public Documents</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.tin-nsdl.com/forms/tds-linktoUnAuthorizedInput.html">Calculate Fee</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www1.incometaxindiaefiling.gov.in/e-FilingGS/Services/ITRStatusLink.html?lang=eng">Verify DIN-PAN Details of Directors</a> </li>
    </ul>
</div>
{% endblock %}