{% extends "webapp/base.html" %}
{% load static %}
{% block content %}

<div class="service-body">
    <p class="heading">Others :</p>
    <ul class="service-list" style="list-style-type: none;">
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://eaadhaar.uidai.gov.in/">Download AADHAR</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.gst.gov.in/">GST</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.incometaxindiaefiling.gov.in/home">Income Tax Return filing</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.gst.gov.in/">GST Returns</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.rbi.org.in/">Reserve Bank of India(RBI)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.sebi.gov.in/">Securities and Exchange Board of India(SEBI)</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://www.startupindia.gov.in/">START UP Business</a> </li>
        <li> <img src="{% static 'webapp/images/link-icon.svg' %}" alt=""> <a target="_blank" href="https://bankifsccode.com/">IFSC Code</a> </li>

    </ul>
</div>
{% endblock %}